#main {
	width: 100%;
	margin: 0 auto;
	background-color: lightgray;
}

#banner {
	text-align: center;
}

#img-div {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
}

#tribute-info {
	width: 75%;
	margin: 0 auto;
}