body {
	margin: 0;
	padding: 0;
	background-color: rgb(235,235,235);
}

h1 {
	margin: 0;
	padding: 10px 0;
}

#main {
	width: 100%;
	margin: 0 auto;
	/*background-color: lightgray;*/
}

#banner {
	text-align: center;
}

#img-div {
	width: 99%;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
}

#image {
	max-width: 75%;
	display: block;
	height: auto;
	margin: 0 auto;
}

#img-caption {
	margin-top: 10px;
	margin-bottom: 0;
}

#tribute-info {
	width: 33%;
	margin: 0 auto;
}

ul {
	padding: 0;
}

ul li {
    /*
     * We want the bullets outside of the list,
     * so the text is aligned. Now the actual bullet
     * is outside of the list’s container
     */
    list-style-position: outside;

    /*
     * Because the bullet is outside of the list’s
     * container, indent the list entirely
     */
    margin-left: 1em;
}

#quote {
	text-align: center;
	font-style: italic;
}

#learn-more-text {
	text-align: center;
	font-weight: bold;
}